<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lantone.icss.provider.kl.dao.LisDetailTypeMapper" >
  <resultMap id="LisDetailTypeWrapper" type="com.lantone.icss.api.kl.model.wrapper.LisDetailTypeWrapper" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stand_id" property="standId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
 
 
 <select id="getAllLisDetailType" resultMap="LisDetailTypeWrapper">
 	select * from kl_lis_detail_type where status = '1'
 </select>

</mapper>