<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lantone.icss.provider.kl.dao.TransverseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lantone.icss.api.kl.model.wrapper.TransverseInfoWrapper" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMapWithDrug" type="com.lantone.icss.api.kl.model.wrapper.TransverseInfoWithDrugWrapper">
  	 <id column="id" property="id" jdbcType="BIGINT" />
     <result column="name" property="name" jdbcType="VARCHAR" />
     <result column="type" property="type" jdbcType="VARCHAR" />
     <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
     <result column="status" property="status" jdbcType="VARCHAR" />
     <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <resultMap id="BaseResultMapWithLis" type="com.lantone.icss.api.kl.model.wrapper.TransverseInfoWithLisWrapper">
  	 <id column="id" property="id" jdbcType="BIGINT" />
     <result column="name" property="name" jdbcType="VARCHAR" />
     <result column="type" property="type" jdbcType="VARCHAR" />
     <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
     <result column="status" property="status" jdbcType="VARCHAR" />
     <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMapWithPacs" type="com.lantone.icss.api.kl.model.wrapper.TransverseInfoWithPacsWrapper">
  	 <id column="id" property="id" jdbcType="BIGINT" />
     <result column="name" property="name" jdbcType="VARCHAR" />
     <result column="type" property="type" jdbcType="VARCHAR" />
     <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
     <result column="status" property="status" jdbcType="VARCHAR" />
     <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMapWithDisease" type="com.lantone.icss.api.kl.model.wrapper.TransverseInfoWithDiseaseWrapper">
  	 <id column="id" property="id" jdbcType="BIGINT" />
     <result column="name" property="name" jdbcType="VARCHAR" />
     <result column="type" property="type" jdbcType="VARCHAR" />
     <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
     <result column="status" property="status" jdbcType="VARCHAR" />
     <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  
	<select id="getTransverseInfoByType" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from kl_transverse_info where status = '1' and type = #{type} order by order_no
	</select>
	
	<select id="getTransverseInfoWithDrug" parameterType="java.lang.String" resultMap="BaseResultMapWithDrug">
		select * from kl_transverse_info where status = '1' and type = #{type} order by order_no
	</select>
	
	<select id="getTransverseInfoWithLis" parameterType="java.lang.String" resultMap="BaseResultMapWithLis">
		select * from kl_transverse_info where status = '1' and type = #{type} order by order_no
	</select>
	
	<select id="getTransverseInfoWithPacs" parameterType="java.lang.String" resultMap="BaseResultMapWithPacs">
		select * from kl_transverse_info where status = '1' and type = #{type} order by order_no
	</select>
	
	<select id="getTransverseInfoWithDisease" parameterType="java.lang.String" resultMap="BaseResultMapWithDisease">
		select * from kl_transverse_info where status = '1' and type = #{type} order by order_no
	</select>
</mapper>