<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/diagnose.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_mmbjsk0ih70c0udi.css" rel="stylesheet">
    <link href="css/lis-pacs-diagnosis.css" rel="stylesheet">
    <link href="addition/drop-input/drop-input.css" rel="stylesheet">
    <link href="css/modal.css" rel="stylesheet">
    <title>诊疗</title>
</head>
<body style="overflow-x: hidden;overflow-y: scroll;">
<!--<div class="container-shade" style="left: 0"></div>-->
<div class="container" id="container">
    <div class="group">
        <label>主诉</label>
        <div class="box-r-s">
            <div class="choose d-n" style="min-height: 39px;border: none">
                <div class="content"></div>
            </div>
            <input type="text">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group"></div>
                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap"></div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap"></div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left disabled"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="group">
        <label>现病史</label>
        <div class="box-r-s">
            <div class="choose d-n">
                <div class="content"></div>
            </div>
            <input type="text">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group"></div>
                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap"></div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap"></div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <label>既往史</label>
        <div class="box-r-s">
            <div class="choose d-n" data-transcode="SJFL002001">
                <div class="title">
                    <span>疾病史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="SJFL002002">
                <div class="title">
                    <span>传染病史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="waishangshi">
                <div class="title">
                    <span>手术外伤史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="SJFL002003">
                <div class="title">
                    <span>过敏史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="shuxueshi">
                <div class="title">
                    <span>输血史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="SJFL002004">
                <div class="title">
                    <span>接种史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n">
                <div class="content"></div>
            </div>
            <input type="text">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group"></div>
                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap"></div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap"></div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left disabled"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <label>其他史</label>
        <div class="box-r-s">
            <div class="choose d-n" data-transcode="SJFL003001">
                <div class="title">
                    <span>家族史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="SJFL003002">
                <div class="title">
                    <span>个人史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="SJFL003003">
                <div class="title">
                    <span>月经史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n" data-transcode="SJFL003004">
                <div class="title">
                    <span>婚育史:</span>
                </div>
                <div class="content"></div>
            </div>
            <div class="choose d-n">
                <div class="content"></div>
            </div>
            <input type="text">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group"></div>
                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap"></div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap"></div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left disabled"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <label>体征</label>
        <div class="box-r-s">
            <div class="choose d-n">
                <div class="content"></div>
            </div>
            <input type="text">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group"></div>
                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap"></div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap"></div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left disabled"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="group lis">
        <label onclick="console.log(getLisForSave())">化验</label>
        <div class="box-r-s">
            <div class="choose d-n">
                <div class="content"></div>
            </div>
            <input type="text" class="lis-main-input">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group">
                        <div class="setting"></div>
                    </div>

                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap">

                </div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap">
                </div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
                <div class="symptom-form"></div>
            </div>
        </div>
    </div>

    <div class="group pacs">
        <label onclick="console.log(getPacsForSave())">器查</label>
        <div class="box-r-s">
            <div class="choose d-n">
                <div class="content"></div>
            </div>
            <input type="text" class="pacs-main-input">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group">

                        <div class="setting"></div>
                    </div>

                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap">

                </div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap">
                </div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
                <div class="symptom-form"></div>
            </div>
        </div>
    </div>

    <div class="group diagnosis">
        <label onclick="console.log(getDiagnosisForSave())">诊断</label>
        <div class="box-r-s">
            <div class="choose d-n">
                <div class="content"></div>
            </div><input type="text" class="diagnosis-main-input">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group">

                        <div class="setting"></div>
                    </div>

                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap">

                </div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap">
                </div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left disabled"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
                <div class="diagnosis-list-buttons">
                    <button class="come-again usable" type="button">待查</button>
                    <button class="go-away unusable" type="button">转诊</button>
                </div>
                <div class="symptom-form"></div>
                <div class="div-for-go-away d-n">
                    <div class="detail-list" style="">
                        <h3><b style="float:left;">转诊</b>
                            <div class="c-r checkbox">
                                <div class="box-r-s"><i class="iconfont icon-duigou1"></i></div>
                                加急
                            </div>
                        </h3>
                        <div class="form-area">
                            <div class="row diagnosis-check-hospital" style="float:left;">
                                <div class="form-group">
                                    <label>医院</label>
                                    <div class="select box-r-s w-100px"><input name="diagnosisHospital" type="text" readonly="">
                                        <div class="down-arrow">
                                            <i class="iconfont icon-triangle-down-copy"></i>
                                        </div>
                                        <ul class="box-r-s d-n">
                                            <li><a>邵逸夫医院</a></li>
                                            <li><a>浙一医院</a></li>
                                            <li><a>浙二医院</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row diagnosis-check-dept" style="float:left;">
                                <div class="form-group">
                                    <label>科室</label>
                                    <div class="select box-r-s w-100px"><input name="diagnosisDept" type="text" readonly="">
                                        <div class="down-arrow">
                                            <i class="iconfont icon-triangle-down-copy"></i>
                                        </div>
                                        <ul class="box-r-s d-n">
                                            <li><a>儿科</a></li>
                                            <li><a>内科</a></li>
                                            <li><a>外科</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row diagnosis-check-doctor" style="float:left;">
                                <div class="form-group">
                                    <label>医生</label>
                                    <div class="select box-r-s w-100px"><input name="diagnosisDoctor" type="text" readonly="">
                                        <div class="down-arrow">
                                            <i class="iconfont icon-triangle-down-copy"></i>
                                        </div>
                                        <ul class="box-r-s d-n">
                                            <li><a>赵医生</a></li>
                                            <li><a>钱医生</a></li>
                                            <li><a>孙医生</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <p class="submit-bt">
                            <button class="make-sure usable" type="button">确定</button>
                            <button class="cancle unusable" type="button">取消</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="group treatment">
        <label>治疗</label>
        <div class="box-r-s">
            <div class="choose d-n">
                <div class="content"></div>
            </div>
            <input type="text" class="treatment-main-input">
            <div class="symptom-all box-r-s d-n">
                <div class="title">
                    <div class="button-group">
                    </div>
                    <div class="arrow"><i class="iconfont icon-shangsanjiao"></i></div>
                </div>
                <div class="wrap">

                </div>
            </div>
            <div class="symptom-container box-r-s d-n">
                <div class="symptom-wrap"></div>
                <div class="button">
                    <div class="arrow detail"><i class="iconfont icon-sanjiaoxia"></i></div>
                    <div class="arrow right"><i class="iconfont icon-xiangyou4"></i></div>
                    <div class="arrow left disabled"><i class="iconfont icon-xiangzuo1"></i></div>
                    <div class="arrow-shadow"></div>
                </div>
                <div class="symptom-form" active></div>
            </div>
        </div>
    </div>
    <div style="overflow:hidden;">
        <button id="lastSave">保存</button>
    </div>
</div>
<div class=""></div>

</body>
<!--
<script type="text/html" id="information1">
    <div class="information">
        <div class="information-tit">
            <b style="left:329px;">诊断指南</b>
            <div>
                <div class="information-but"></div>
                <span style="width:37px;"><< </span>
                <span class="focus" style="width:41px;">全部</span>
                <span style="width:37px;"> >></span>
            </div>
            <b style="left:521px;">NICE</b>
            <b class="information-close"></b>
        </div>
        <div class="information-con">
            <div class="information-con-left">${description}</div>
            <div class="information-con-mid" style="display:block;">
                <div>${description}</div>
                <div>${nice}</div>
            </div>
            <div class="information-con-right">${nice}</div>
        </div>
    </div>
</script>
-->
<script type="text/html" id="information1">
    <div class="information">
        <div class="information-close">
            <div></div>
        </div>
        <div class="information-main">
            <div class="information-list">
                <ul>
                    {{if remark}}
                    <li class="information-link focus"><span></span><span>诊断依据</span></li>
                    <li class="information-line"></li>
                    <li class="information-link"><span></span><span>诊断指南</span></li>
                    <li class="information-line"></li>
                    {{else}}
                    <li class="information-link focus"><span></span><span>诊断指南</span></li>
                    <li class="information-line"></li>
                    {{/if}}

                    <li class="information-link"><span></span><span>NICE</span></li>
                </ul>
            </div>
            <div class="information-content">
                {{if remark}}
                <dl>
                    <dt><span>诊断依据</span>
                    <hr>
                    </dt>
                    <dd>
                        <ul>
                            <li>
                                <span class="information-true"></span>
                                <span>1.</span>
                                <span>血液常规检查 发作时可有嗜酸性粒细胞增高，但多数不明显，如并发感染可有白细胞数增高，分类嗜中性粒细胞比例增高。</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                {{/if}}
                <dl>
                    <dt><span>诊断指南</span>
                    <hr>
                    </dt>
                    <dd>
                        <ul>
                            <li>
                                <p>${description}</p>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><span>NICE</span>
                    <hr>
                    </dt>
                    <dd>
                        <ul>
                            <li>
                                <p>${nice}</p>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>


</script>

<script type="text/html" id="dateunit1">
    <div class="form-group" style="width:700px;">
        <label>检查时间<span style="color: red;"> *</span></label>
        <div class="select box-r-s w-70px focus"><input name="lisTimeYear" type="text" readonly="">
            <div class="down-arrow"><i class="iconfont icon-triangle-down-copy"></i></div>
            <ul class="box-r-s d-n">
                <li><a>2012</a></li>
                <li><a>2013</a></li>
                <li><a>2014</a></li>
                <li><a>2015</a></li>
                <li><a>2016</a></li>
                <li><a>2017</a></li>
            </ul>
        </div>
        <span>年</span>
        <div class="select box-r-s w-70px"><input name="lisTimeMonth" type="text" readonly="">
            <div class="down-arrow"><i class="iconfont icon-triangle-down-copy"></i></div>
            <ul class="box-r-s d-n">
                <li><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
                <li><a>5</a></li>
                <li><a>6</a></li>
                <li><a>7</a></li>
                <li><a>8</a></li>
                <li><a>9</a></li>
                <li><a>10</a></li>
                <li><a>11</a></li>
                <li><a>12</a></li>
            </ul>
        </div>
        <span>月</span>
        <div class="select box-r-s w-70px get-date-own"><input name="lisTimeDay" type="text" readonly="">
            <div class="down-arrow"><i class="iconfont icon-triangle-down-copy"></i></div>
            <ul class="box-r-s d-n">

            </ul>
        </div>
        <span>日</span>
        <div class="validate"><p>请将时间填写完整</p></div>
    </div>
</script>


<script src="js/jquery-1.11.1.js"></script>
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/blueTip.js"></script>
<script src="js/common.js"></script>
<script src="js/param.js"></script>
<script src="js/tools.js"></script>
<script src="js/jQuery-drop-input.js"></script>
<script src="js/main-suit.js"></script>
<script src="js/icss-lis-modal.js"></script>
<script src="js/icss-pacs-modal.js"></script>
<script src="js/icss-diagnosis-modal.js"></script>
<script src="js/icss-treatment-modal.js"></script>
<script src="js/modal.js"></script>
<!--<style ></style>-->
<!--<script type="text/javascript">-->

<!--</script>-->
</html>
